<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your favorite movies reviewed</h1>
    <p>This is movie review site please read all the reviews and add review by yourself for others to read. please sign up to write reviews.</p>
    <p><%= link_to "Sign Up to write A Review", new_user_registration_path, class:"btn btn-primary btn-lg"  %>
    </p>
  </div>
<% end %>




<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 co-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class:'image'), movie %>
      </div>
    </div>
  <% end %>
</div>